<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Chats Recientes</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats" button detail (click)="openChat(chat)">
      <ion-avatar slot="start">
        <img src="https://i.pravatar.cc/150?img=1" alt="Avatar">
      </ion-avatar>

      <ion-label>
        <h2>{{ chat.users[0]?.name }}</h2>
        <p class="message-preview">{{ chat.messages[0]?.content || 'Sin mensajes' }}</p>
      </ion-label>

      <ion-note slot="end" color="medium" class="chat-meta">
        <div>{{ chat.messages[0]?.created_at | date: 'shortTime' }}</div>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
