<ion-header>
  <ion-toolbar>
    <ion-title>Detalle del Producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="product">
<ion-slides *ngIf="product.images?.length > 0" [options]="slideOpts">
<ion-slide *ngFor="let img of product.images">
  <ion-card class="product-card">
        <img [src]="img.image_url" alt="Imagen del producto" />
        <ion-card-content>
          <ion-card-title>{{ product.name }}
          <span [ngClass]="{'disponible': product.status === 'disponible', 'intercambiado': product.status === 'intercambiado'}">
          {{ product.status | titlecase }}
          </span>
        </ion-card-title>
          <ion-card-subtitle>{{product.created_at | date: 'dd MMM yyyy'}}</ion-card-subtitle>
          <p>{{ product.description }}</p>
        </ion-card-content>
      </ion-card>
</ion-slide>
</ion-slides>
</ion-content>
