<ion-header translucent>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Publicar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding content-bg">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <ion-card class="form-card">
      <ion-card-header>
        <ion-card-title>Imágenes del producto</ion-card-title>
        <ion-card-subtitle>Puedes subir hasta 10 imágenes</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <input
          type="file"
          multiple
          accept="image/png, image/jpeg, image/gif, image/webp, image/jpg"
          (change)="onImageSelected($event)"
        />

        <div class="image-preview-container">
          <div
            class="image-preview"
            *ngFor="let img of imagePreviews; let i = index"
          >
            <img [src]="img" />
            <ion-icon
              name="close-circle"
              class="remove-icon"
              (click)="removeImage(i)"
            ></ion-icon>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="form-card">
      <ion-card-header>
        <ion-card-title>Detalles del producto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Título</ion-label>
          <ion-input
            formControlName="title"
            placeholder="Ej. Xbox One usada"
            maxlength="50"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Descripción</ion-label>
          <ion-textarea
            formControlName="description"
            placeholder="Describe el estado, antigüedad, detalles, etc."
            autoGrow="true"
          ></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">¿Qué deseas a cambio?</ion-label>
          <ion-input
            formControlName="wantedItem"
            placeholder="Ej. Audífonos, videojuego, otro artículo"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Ubicación</ion-label>
          <ion-input
            formControlName="location"
            placeholder="Ej. Oaxaca, CDMX"
          ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button
        color="primary"
        type="submit"
        [disabled]="productForm.invalid || selectedFiles.length === 0"
      >
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
